@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: #171717;
  }
}

/* Sharp text rendering */
html, body, #__next {
  -webkit-font-smoothing: antialiased;   /* macOS/Chrome */
  -moz-osx-font-smoothing: grayscale;    /* Firefox on Mac */
  text-rendering: optimizeLegibility;    /* better kerning/ligatures */
  -webkit-text-size-adjust: 100%;
}

/* Make sure no accidental scaling: */
body {
  transform: none !important;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; 
  background: var(--background);
}